<div #alert (click)="onRead($event)" class="modal fade" id="alertModal" style="display: block; padding-right: 17px;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Info about this Project</h5>
        <button (click)="onRead($event)" class="close" type="button">
          X
        </button>
      </div>
      <div class="modal-body">
        <p class="lead">Search Sum Angular Project</p>
        <ul class="list-group">
          <li class="list-group-item">
            Finds 1 - 4 elements in the array that equals to Sum value and selects them
          </li>
          <li class="list-group-item">
            Ability to paste array of numbers with format of [1,2,n.. | 1 2 n..]
          </li>
          <ul class="list-group-item">
            <li class="list-group-item">
              Can resize array length with an enter or add item button
            </li>
            <li class="list-group-item">
              max array length 200
            </li>
          </ul>

          <li class="list-group-item">
            Ability to get the numbers selected in a text based file, or stored in clipboard
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button (click)="onRead($event)" class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
      </div>
    </div>
  </div>
</div>
