<swal #clipBoardCopied
      [showCloseButton]="false"
      [showConfirmButton]="false"
      icon="success"
      position="bottom-right"
      timer="2000"
      title="Copied"
      toast="toast">
</swal>
<swal #clipBoardNotCopied
      [showCloseButton]="false"
      [showConfirmButton]="false"
      icon="error"
      position="bottom-right"
      timer="2000"
      title="Error Copying"
      toast="toast">
</swal>

<swal #infoModal
      [showCloseButton]="true"
      [showConfirmButton]="true"
      icon="info"
      position="center"
      title="Angular 9 Project">
  <div *swalPortal>
    <p class="lead">Sum Search Brute-Force Algorithm</p>
    <ul class="list-group">
      <li class="list-group-item">
        Finds 1 - 4 elements in the array that equals to Sum value and selects them
      </li>
      <li class="list-group-item">
        Ability to paste array of numbers with format: [1,2,n.. | 1 2 n..]
      </li>
      <ul class="list-group-item">
        <li class="list-group-item">
          Can resize array length with an enter or add item button
        </li>
        <li class="list-group-item">
          Max array length 200
        </li>
      </ul>
      <li class="list-group-item">
        Ability to get the numbers selected in a text based file, or in clipboard
      </li>
    </ul>
  </div>

</swal>
<h3 class="display-4 text-center">
  <img
    alt="angular" class="img-fluid" src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png">
</h3>
<div class="container text-white">
  <div class="row justify-content-center">
    <div class="col text-center">
      <div class="container">
        <button (click)="addNumber()" class="mx-1 btn btn-primary" type="button">Add</button>
        <button (click)="onReadInfo()" class="mx-1 btn btn-light" type="button">Info</button>
        <button (click)="clearForm()" class="mx-1 btn btn-danger">Clear Form</button>
        <button (click)="clearArray()" class="mx-1 btn btn-secondary">Clear Array</button>
        <button [disabled]="formData.invalid" class="mx-1 btn btn-success" form="form" type="submit">Search</button>
      </div>
      <div class="form-group">
      </div>
      <span *ngIf="calculating" class="lead">Searching...</span>
      <span *ngIf="noResult" class="lead">No Result found!</span>
      <div *ngIf="calculated" class="btn-group">
        <button (click)="copyToClipboard()" class="btn btn-info" type="button">Copy to Clipboard</button>
        <div class="form-group m-1 text-danger">
        </div>
        <button (click)="exportToFile()" class="btn btn-dark" type="button">Export to Text File</button>
        <div class="form-group m-1 text-danger">
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <div [formGroup]="formData" class="form-group">
        <label class="col-form-label" for="number">Sum Value to Search in Array:</label>
        <input [placeholder]="onInvalidInput()? 'Required Integer':''" class="form-control" formControlName="sumVal"
               id="number"
               type="number">
      </div>
      <div [formGroup]="formData">
        <label class="col-form-label" for="numCount">Numbers equal to Sum:</label>
        <select class="form-control" formControlName="numsEqSum" id="numCount">
          <option *ngFor="let num of numCount" [hidden]="num > list.length" [value]="num">{{num}}</option>
        </select>
      </div>
      <div [formGroup]="formData">
        <label class="col-form-label" for="arrayLen">Array Length:</label>
        <input (keydown.enter)="onChangingArrayLength()" [placeholder]="onInvalidLen()?'Required Positive Integer':''"
               class="form-control"
               formControlName="arrayLen" id="arrayLen" type="number">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <label class="col-form-label">Your Array:</label>
      <form (ngSubmit)="calculateArray()" [formGroup]="formData" id="form" name="form">
        <div class="row" formArrayName="numbersArr">
          <div *ngFor="let item of listIterator; let i=index">
            <div class="col-auto">
              <div class="btn-group form-group">
                <input (paste)="fetchClipboard($event,i)" [formControlName]="i"
                       [id]="i"
                       [ngClass]="onCalculated(i)"
                       [placeholder]="onInvalidItem(i)? 'Required Integer':''" class="form-control" type="number"
                >
                <svg (click)="onDeletingItem(i)" fill="currentColor" height="1em" style="cursor: pointer" width="1em"
                     xmlns="http://www.w3.org/2000/svg">
                  <path clip-rule="evenodd"
                        d="M5.646 5.646a.5.5 0 000 .708l8 8a.5.5 0 00.708-.708l-8-8a.5.5 0 00-.708 0z"
                        fill-rule="evenodd"></path>
                  <path clip-rule="evenodd"
                        d="M14.354 5.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z"
                        fill-rule="evenodd"></path>
                </svg>
              </div>
            </div>
            <div *ngIf="i%4===0" class="w-100"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
